#section2 h1{
    font-size:2rem;
}

#section2 h3{
    font-size: 1.5rem;
    font-weight: 500;
}

#section3 h3{
    font-size: 1.5rem;
    font-weight: 500;
}

#section4 h1{
    font-size: 2rem;
}
#section4 h3{
    font-size: 1.5rem;
    font-weight: 500;
}
#section5 h3{
    font-size: 1.5rem;
    font-weight: 500;
}
#section6 h3{
    font-size: 1.5rem;
    font-weight: 500;
}
#section7 h3{
    font-size: 1.5rem;
    font-weight: 500;
}
#section8 h3{
    font-size: 1.5rem;
    font-weight: 500;
}
#section9 h3{
    font-size: 1.5rem;
    font-weight: 500;
}
