/*Footer CSS*/

#footer .container-fluid{
    background: #013334;
}

#footer .container{
    padding-bottom: 2%;
    padding-top: 5%;
}
#footer h4{
    color:#1A7576;
    font-size: 1rem;
    font-weight: 500;
}
#footer ul {
    list-style: none outside none;
    padding: 0;
}
#footer a{
    color:white;
    font-weight: 300;
}
#footer p{
    color:white;
    font-weight: 300;
    font-size: 1rem;
}
#footer img{
    width: 50px;
    padding: 5px;
}

#footer td{
    padding:10px;
}