/*Vicky Rohilla*/

h5{
    color:white;
}
.lead{
    color:white;
}
.card-title{
    font-size: 20px;
}

/*Section1*/

.jumbotron-fluid {
    background-image: url("../Images/Common_Photos/home2.png");
      background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    height: 500px;
}
#section1 .row_color{
    /*background: #147271;*/
    background: rgba(1, 51, 52, 0.6);
    color: white;
}
#section1 .row_color h1{
    font-size:2rem;
    padding: 5%;
    font-weight: 300;
}
#section1 .row_color p{
    font-size:1rem;
    padding: 0 5% 5% 5%;
    font-weight: 400;
}

#section1 .btn{
    margin: 5% 1%;
    border-radius: 25px;
}

#section1 .btn-outline-secondary{
    color:white;
    border-color:white;
}
#section1 button:hover{
    background: #013334;
    color:white;
    border-color:#013334;
}


/*Section2*/

#section2 .container{
    padding-top:8%;
    padding-bottom:5%;
    border-bottom :1px solid lightcyan;
}
#section2 h1{
    color:white;
    font-size: 2rem;
}
#section2 p{
    color:white;
    font-size: 1.20rem;
    font-weight: 400;
}


/*Section3*/
#section3 .container-fluid{
    background: #006766;
}

#section3 .container{
    padding-top:5%;
    padding-bottom:5%;

}

#section3 img{
    width: 30%;
    margin:5%;
}

#section3 h5{
    font-size:1.2rem;
    font-weight:300;
}

#section3 p{
    font-size:1rem;
}


/*Section4*/
#section4 .container-fluid{
    background: #013334;
}
#section4 .container{
    padding-top:5%;
    padding-bottom:5%;
    /*border-bottom: 1px solid white;*/
}
#section4 h1{
color:white;    
font-size: 2rem;
}
#products_text{
    font-size:1rem;
    color: #4D7171;
    font-weight: 400;
}
#section4 .rounded-circle{
    margin:5%;
        width: 125px;
    height: 125px;
}

#section4 .card{
    margin-bottom: 10px;
}

#section4 p{
text-align: left;
}
#section4 .card-title{
    font-size:2rem;
    font-weight:400;
}

#section4 .btn{
    margin: 5% 1%;
    border-radius: 25px;
}

#section4 .btn-secondary{
    color:#013334;
    border:2px solid #013334;
}
#section4 button:hover{
    background: #013334;
    color:white;
    border-color:#013334;
}


/*Section5*/
#section5 .container-fluid{
    background:  #012220;
}

#section5 .container{
    padding-top:5%;
    padding-bottom:5%;

}
#section5 .card-block img{
    margin:5%;
    width: 75px;
    height: 75px;
}

#section5 .card{
    background: transparent;
    border:0.5;
    border-color:#114140;
}

#section5 h1{
    font-size:2rem;
    color:white;
}

.service{
    font-size:1rem;
    color: #4D7171;
    font-weight: 400;
}


#section5 .card h3{
    font-size:1.25rem;
    font-weight:500;
     color: #006766;
}

#section5 .card p{  
    color:white;
}

#section5 .card a{  
    color:#006766;
}

/*Section6*/
#section6 img{
    width: 125px;
    height:125px;
}
#section6 h5{
    font-size:2rem;
}

#section6 p{
    text-align: center;
    font-size:15px;
    color: #013334;
    font-weight: bold;
}

/*Section7*/

#section7 .container{
    padding-bottom: 2%;
    padding-top:2%;
}

#section7 h1{
font-size:2rem;
color:#013334;
font-weight: 400;
}

.Events{
 font-size:1rem;
 color: #006666;
 font-weight: 400;
}

#section7 .btn{
    border:white;
    font-weight: 400;
}

#section7 .card-title{
    font-size: 1.25rem;
    font-weight: 400;
    color: #013334;
}

#section7 img{
   height: 250px;
}

#section7 .media-object{
    width: 50px;
    height: 50px;
}


/*Section8*/
#section8 h1{
    font-size:2rem;
}

#section8 .Testimonal{
    font-size:1rem;
    font-weight: 400;
}

#section8 .container-fluid{
    background: #197475;
}
#section8 h1{
    color:white;
    font-size:2rem;
    font-weight: 400;
}

#section8 img{
    width: 50px;
}

/*Section9*/
#section9 .container-fluid{
    background: #013334;
}
#section9 img{
    width:100%;
    height: 250px;
    padding-bottom: 3%;
}


/*Section10*/
#section10 .container-fluid{
    background: #C6C7C9;
}
#section10 h1{
    color: #012220;
}


.imgContainer {
    display: table-cell;
    width: 150px; 
    height: 100px;
    text-align: center;
    vertical-align: center;
    display: flex;
}
#section10 img{
    margin: auto;
     max-width: 100%;
    max-height: 100%;
}


/*carosusel*/
/*carousel*/
    .testi {
        /*height: 300px;
        width: 450px;*/
        height: 450px;
        width: 450px;
        display: flex;
        position: relative; 
        margin: 10% 0;
    }

    .inner {
        border: 1px solid white;
        height: 400px;
        width: 400px;
        margin: auto;
        display: flex;
    }
    .inner .text{
        margin: auto;
        padding: 10%;
        font-size:1rem;
        font-weight:400;
    }

    .testi img {
        border-radius: 75px 75px;
    }
    /*Main Theme*/

    .bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .top-left {
        position: absolute;
        left: 0;
    }


/*Items Centring inside  .carousel-item*/
    .carousel-item .row{
        margin:auto;
    }