/*section1*/
#section1 .container-fluid{
	background:url('../../Images/Common_Photos/team.png') 100%;
	 background-size: cover;
    background-repeat: no-repeat;
    /*background-position: 50% 50%;*/
}
#section1 .container{
	color:white;
	padding-bottom: 8%;
	padding-top: 8%;
}

#section1 h1{
	font-size:2rem;
	font-weight: 400;
}
#section1 p{
	font-size:1rem;
	font-weight: 400;
}


/*section2*/
#section2 .contianer-fluid{ 
background: #013334;
}
#section2 .container {
	padding-bottom: 5%;
	padding-top: 5%;
	
}
#section2 .container .lead_color{
	color: white;
	padding-top:10%;
}
.main_card{
	width: 80%;
	/*margin-left: 20%;*/
}
/*Section3*/

#section3 .container-fluid{
	background: #013334;

}
#section3 .container{
	padding-top:2%;
	padding-bottom: 6%;
	border-bottom: 1px solid white;
}
#section3 h1{
	color: white;
	padding-top:5%;
	padding-bottom:5%;
	font-size:2rem;
}

/*section4*/
#section4 .container-fluid{
	background: #013334;
}
#section4 .container{
	padding-top: 6%;
	padding-bottom: 6%;
}

#section4 h1{
	color:white;
	font-size:2rem;
	padding-bottom:5%;
}

/*section5*/
#section5 .container-fluid{
	background: #006766;
}
#section5 .container{
	padding-top: 6%;
	padding-bottom: 6%;
}
#section5 h1{
	color:white;
	font-size:2rem;
	padding-bottom:5%;
}

/*section6*/
#section6 .container-fluid{
	background: #006766;
}
#section6 .container{
	padding-top: 6%;
	padding-bottom: 6%;
}

#section6 h1{
	color:white;
	font-size:1rem;
	padding-bottom:5%;
	font-weight: 400;
}

/*section7*/
#section7 .container-fluid{
	background: #013334;
}
#section7 .container{
	padding-top: 6%;
	padding-bottom: 6%;
}
#section7 h1{
	color:white;
	font-size:2rem;
	padding-bottom:5%;
}


/*Card Properties*/
.card{
	margin-bottom: 5%;
	cursor: pointer;
}
.card-img-top{
	width: 100%;
	height: 250px;
}
.card-title{
	font-size: 1rem;
	text-align: center;
	font-weight: 700;
	color: #065759;
}
.card-text{
	text-align: center;
}


/*Modal Content Css*/
.modal-content{
	padding:3%;
	text-align: justify;
	background: #013334;
	color: white;
	box-shadow: 5px 5px 5px #000;
}

.modal-content img{
	width: 100%;
	height: 250px;
	padding-bottom:5%; 
}

.modal-content p{
	text-align: justify;
	font-size:1rem;
	padding: 2%;

}
.modal-right{
	border-left: 1px solid #ffffff;
}

.modal_name{
	font-size:1.5rem;
	font-weight: 400;
}